/* Write your CSS here */
.bg-container {
  background-color: #ffc2a0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.simple-todos {
  background-color: #ffffff;
  width: 75vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #ff8542;
  font-family: 'Roboto';
}
.list-container {
  list-style-type: none;
}
